* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(0, 0, 0);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.sidebar-container {
  max-width: 208px;
  margin-left: 13.5vw;
}
@media screen and (min-width: 1488px) {
  .sidebar-container {
    margin-left: 19vw;
  }
}

.sidebar-ul {
  li {
    svg {
      margin-right: 0.5rem;
    }

    span:hover {
      background-color: gray;
      opacity: 0.5;
    }
    list-style: none;
    cursor: pointer;
  }
}

.button-div {
  .btn {
    border-radius: 100px;
    border: 0;
  }
}
.main-container {
  width: 35vw;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
}
.input-form {
  max-height: 100px;
  input {
    background-color: transparent;
    border-radius: 100px;
    width: 80%;
  }
  .btn {
    border-radius: 100px;
    width: 80px;
  }
}

@media screen and (max-width: 766px) {
  .main-container {
    width: 100vw;
  }
}
.avatar {
  border-radius: 50%;
  height: auto;
  max-width: 25%;
}
.input-avatar {
  border-radius: 50%;
  height: auto;
  max-width: 12%;
}
.trend-section {
  border-radius: 30px;

  li {
    list-style: none;
  }
}
